@use "./variables" as *;

@mixin flex($justify-content, $align-item) {
  display: flex;
  align-items: $align-item;
  justify-content: $justify-content;
}

@mixin border($property) {
  #{$property}: 1px solid var(--border-color);
}

@mixin bgChat() {
  background: var(--bg-chat-1);
  background: radial-gradient(circle, var(--bg-chat-2) 0%, var(--bg-chat-3) 100%);
}