@use "../../assets/scss/" as *;

input {

  width: 100%;
  padding: 1rem;
  border-radius: 0.4rem;
  border: 2px solid var(--primary-color-6);
  outline: none;
  background-color: transparent;
  color: var(--primary-color-1);
  font-size: 1rem;
  &::placeholder {
    color: var(--primary-color);
  }
}