@use "../../assets/scss/" as *;

.user-contact {
  background-color: $primary-color-7;
  height: 75%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  h4 {
    margin-left: 0.5rem;
    margin-bottom: 0.2rem;
  }
  &__item {
    padding: 1rem;
    background-color: $primary-color-7;
    display: flex;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background-color: $primary-color-9;
    }
    &.active {
      background-color: $primary-color-10;
    }
    &__avatar {
      margin-right: 1rem;
    }
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .contact-username {
        font-size: 20px;
      }
      .contact-message {
        font-size: 15px;
        color: $primary-color-8;
        width: 270px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 5px 0;
      }
    }
    &__time {
      @include flex(center, center);
      margin-left: auto;
      color: $primary-color-8;
    }
  }
}
