@use "../../assets/scss/" as *;

.chat-input {
  display: flex;
  position: relative;
  .preview-img-container {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100px;
    width: 100px;
    padding: 4px;
    translate: 0 -105%;
    background-color: var(--primary-color-9);
    border-radius: 15px;
    img {
      border-radius: 15px;
      object-fit: cover;
      height: auto;
      max-width: 100%;
      aspect-ratio: 1/1;
    }
    .remove-img {
      @include flex(center, center);
      position: absolute;
      top: 0;
      right: 0;
      translate: 5% -10%;
      padding: 5px;
      background-color: var(--primary-color-7);
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        background-color: var(--primary-color-9);
      }
    }
  }
  &__choose-image {
    @include flex(center, center);
    padding: 1rem;
    border-radius: 10px 0 0 10px;
    border: 1px solid var(--primary-color-10);
    border-right: none;
    background-color: var(--primary-color-9);
    cursor: pointer;
    transition: 0.2s;
    input[type="file"] {
      display: none;
    }
    &:hover {
      .image-icon {
        color: var(--primary-color-3);
      }
      background-color: var(--primary-color-10);
    }
  }
  &__text {
    display: flex;
    width: 100%;
    &__emoji {
      position: relative;
      @include flex(center, center);
      padding: 1rem;
      background-color: var(--primary-color-2);
      border: 1px solid var(--primary-color-10);
      border-left: none;
      .emoji {
        cursor: pointer;
        &:hover {
          color: var(--primary-color-5);
        }
      }
      .emoji-picker {
        position: absolute;
        top: 0;
        translate: 0 -100%;
        z-index: 999;
      }
    }
    input {
      color: var(--primary-color-1);
      background-color: var(--primary-color-2);
      width: 100%;
      border: 1px solid var(--primary-color-10);
      border-right: none;
      border-radius: 0;
      word-wrap: break-word;
      vertical-align: top;
      &::placeholder {
        color: var(--primary-color-1);
      }
    }
  }
  &__send {
    @include flex(center, center);
    border: 1px solid var(--primary-color-10);
    border-left: none;
    outline: none;
    padding: 1rem;
    background-color: var(--primary-color-9);
    border-radius: 0 10px 10px 0;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      color: var(--primary-color-5);
      background-color: var(--primary-color-14);
    }
  }
}
