@use "../../assets/scss/" as *;

.chat-main {
  display: flex;
  flex-direction: column;
  background-color: $primary-color-2;
  width: 50%;
  .chat-header {
    display: flex;
    justify-content: space-between;
    background-color: $primary-color-7;
    padding: 10px 15px;
    @include border(border-bottom);
    &__info {
      display: flex;
      gap: 1rem;
      &__user {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        &__username {
          font-weight: bold;
          font-size: 20px;
        }
        &__status {
          .online {
            color: $online;
          }
          .offline {
            color: $offline;
          }
        }
      }
    }
    &__action {
      @include flex(center, center);
      gap: 1rem;
      &__item {
        @include flex(center, center);
        background-color: $primary-color-9;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          color: $primary-color-8;
          background-color: $primary-color-10;
        }
      }
    }
  }
  .chat-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    overflow-y: scroll;
    height: auto;
    padding: 0 1.5rem 2rem;
    &::-webkit-scrollbar {
      background-color: $primary-color-10;
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $primary-color-9;
      border-radius: 15px;
    }
    .message {
      display: flex;
      font-size: 17px;
      margin-bottom: -5px;
      &.send {
        justify-content: flex-end;
        .content {
          background-color: $primary-color-5;
          border-radius: 15px 15px 2px 15px;
          .tooltip {
            top: 0;
            left: 0;
            translate: -100% 0;
          }
        }
      }
      &.receive {
        .content {
          background-color: $primary-color-9;
          border-radius: 2px 15px 15px 15px;
          .tooltip {
            top: 0;
            right: 0;
            translate: 100% 0;
          }
        }
      }
      .content {
        position: relative;
        max-width: 70%;
        overflow-wrap: break-word;
        padding: 8px 12px;
        border: 1px solid $primary-color-9;
        display: flex;
        flex-direction: column;
        gap: 10px;
        img {
          border-radius: 15px;
          object-fit: cover;
          height: auto;
          max-width: 100%;
        }
        .tooltip {
          display: inline-block;
          position: absolute;
          visibility: hidden;
          background-color: rgba(255, 255, 255, 0.8);
          color: black;
          border-radius: 10px;
          padding: 8px 12px;
          font-size: 13px;
          letter-spacing: 1px;
          white-space: nowrap;
        }
        &:hover {
          .tooltip {
            visibility: visible;
            transition: 1s;
          }
        }
      }
    }
  }
}
