@use "../../assets/scss/" as *;

.chat-page {
  display: flex;
  // align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: $primary-color-2;
  padding: 1rem;
  &__container {
    display: flex;
    height: 100%;
    width: 95%;
    border-radius: 0 15px 15px 0;
    overflow: hidden;
    background-color: $primary-color-7;
    .side-bar {
      display: flex;
      flex-direction: column;
      width: 25%;
      @include border(border-right);

      // padding: 0 0 1rem 0;
      .logo-wrapper {
        padding: 5px;
      }
      .user-contact {
        height: 100%;
        &__list {
          height: 100%;
          margin-top: 1rem;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
      .user-info {
        background: $primary-color-7;
        height: 10%;
        padding: 1rem;
        display: flex;
        gap: 1rem;
        @include border(border-top);
        .username-account {
          width: 250px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-transform: capitalize;
          @include flex(null, center);
        }
      }
    }
  }
}
