@use "../../assets/scss/" as *;

.img-outer-container {
  position: relative;
  border-radius: 50%;
  background: white;
  object-fit: contain;
  .online-icon {
    position: absolute;
    top: 0;
    right: 0;
    color: $online;
  }
  img {
    border-radius: 50%;
  }
}
