@use "../../assets/scss/" as *;

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
  margin-left: auto;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
.slider {
  border-radius: 20px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  &:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 20px;
    transition: 0.4s;
  }
}
input {
  &:checked {
    + {
      .slider {
        background-color: var(--primary-color-3);
        &:before {
          transform: translateX(20px);
        }
      }
    }
  }
  &:focus {
    + {
      .slider {
        box-shadow: 0 0 1px var(--primary-color-3);
      }
    }
  }
}
